* {
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}
html,
body {
  font-family: 'Segoe UI', Verdana, sans-serif;
}

main {
  padding-top: 48px;
  flex: 1;
  position: relative;
}

footer {
  width: 100%;
  text-align: center;
  padding: 16px;
}

/* This will fall back fine for any non-webkit browsers */
/* The scrollbar will just display */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

#app-status {
  display: block;
  height: 100%;
  width: 100%;
  margin: auto;
  text-align: center;
}
